body{
    background-color: rgb(50, 80, 100);
}


div.container {
    width: 100%;
    border: 1px solid gray;
}

header{
    padding: 0.5em;
    color: black;
    background-color: rgb(20, 141, 225);
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    text-decoration: red;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid yellow;
    padding: 1em;
    overflow: hidden;
    color: yellow;
}

table, th, tr, td {
    border: 1px solid yellow;
    color: yellow;
}

p {
    font-family: Courier;
}

h2 {
    font-family: Fantasy;
    color: black;
}
h3 {
    text-align: center;
}

a:visited {
    color: yellow;
}

a:hover {
    background-color: navy;
}
